body {
  background-color:rgb(255,186,210);
  color:rgb(0,0,128);
}
.day{background-color:rgb(148,255,185);
border-radius: 25px;
  padding: 20px;}
.reading-box{background-color:rgb(220, 208, 255);}
.prep-box{background-color:rgb(255,255,158);}
.lab-box{background-color:#B7E9F7;}
.grading-box{background-color:#f7C074;;}
.day-box{border-color: rgb(0,0,128);}
.day-box.COMPLETED{background-image:url(Glazed-Donut.jpg);}
.day-box.CURRENT{background-image:url(White-Donut.jpg);}
.day-box.PREP{background-image:url(Chocolate-Donut.jpg);}
.header{background-image: url(strawberry-donut.jpg);text-align:center;}
.nav{text-align: center;
background-color:rgb(255,186,210);}
h1{text-align: center;}
.username{background-color:rgb(255,186,210);}
div{border-radius: 25px;
  padding: 10px;}
a:hover {background-color: rgb(240, 108, 108);}
img.person_image{width:100px;height:150px;}
div:blank {display: none;}
.special{border-width:none;}
#nameSound13{background-image:url(audio.jpg);}
svg{ transform: rotate(90deg);
    margin: auto;
    position:relative
    right: 100px}
table, th, td {
  border: 1px solid rgb(0,0,128);
}
