body {
  background-color:rgb(255,186,210);
  color:rgb(0,0,128);
}
.day{background-color:rgb(148,255,185);
border-radius: 25px;
  padding: 20px;}
.reading-box{background-color:rgb(220, 208, 255);border-radius: 25px;
  padding: 20px;}
.prep-box{background-color:rgb(255,255,158);border-radius: 25px;
  padding: 20px;}
.lab-box{background-color:#B7E9F7;border-radius: 25px;
  padding: 20px;}
.grading-box{background-color:#f7C074;border-radius: 25px;
  padding: 20px;}
.day-box.COMPLETED{background-color:rgb(221,221,221);border-radius: 25px;
  padding: 20px;}
.day-box.CURRENT{background-color:rgb(212, 106, 141);border-radius: 25px;
  padding: 20px;}
.day-box.PREP{background-color:rgb(186, 71, 109);border-radius: 25px;
  padding: 20px;}
.header {border: 1px solid rgb(0,0,128);
  margin-bottom:10px;}
div{border: 1px solid rgb(0,0,128);
  margin-bottom:10px;
  padding:10px;}
a:hover {background-color: rgb(240, 108, 108);}
img.person_image{width:100px;height:150px;}
